@import "_variables";

* {
	font-family: montserrat;
	margin: 0;
	padding: 0;
}

.lastupdate {
	position: absolute;
	bottom: 0;
}
span {
	margin-left: 5px;
}
#img {
	background-image: url(https://picsum.photos/300);
	background-size: cover;
	height: 50%;
	background-color: white;
	width: 100%;
}

.app-wrapper {
	.App-header {
		@include center-center;
		text-align: center;
		background-color: pink;
		height: 2.2rem;
		font-weight: 600;
	}

	.input-wrapper {
		width: 100%;
		padding: 2rem;
		height: 6.6rem;
		@include center-center;
		flex-direction: column;
		.inputtext {
			background-color: lightblue;
		}
	}

	.app-main-wrapper {
		@include center-center;
		margin-top: 10px;
		font-size: 18px;

		.preview {
			line-height: 28px;
			@include center-center;
			background-color: thistle;
			height: 34rem;
			// background-color: lightyellow;
		}
	}
	.App-footer {
		height: 1.5rem;
		margin-top: 8px;
		position: relative;
		bottom: 0;
	}
}
